
    <h1>Departments</h1>

    
    <%= link_to 'New Department', new_department_path%>


  <table id='dep_table'>
  <th>
  <%if @sorted_by_id%>
  <%=link_to 'ID (Sorted)', {:controller => "departments", :action => "index", :sort_by_id => !@sorted_by_id,  :search_name => @search_name, :search_hod_id => @search_hod_id}, remote: true%>
  <%elsif !@sorted_by_id%> <%=link_to 'ID (unSorted)', {:controller => "departments", :action => "index", :sort_by_id => !@sorted_by_id, :search_name => @search_name, :search_hod_id => @search_hod_id }, remote: true%>
  <%end%>
  </th>
  <th>
  <%if @sorted_by_name%>
  <%=link_to 'Name (Sorted)', {:controller => "departments", :action => "index", :sort_by_name => false,  :search_name => @search_name, :search_hod_id => @search_hod_id }, remote: true%>
  <%elsif !@sorted_by_name%> <%=link_to 'Name (unSorted)', {:controller => "departments", :action => "index", :sort_by_name => true, :search_name => @search_name, :search_hod_id => @search_hod_id }, remote: true%>
  <%end%>
  </th>
  <th>HOD</th>
  <th>HOD ID</th>
  <th></th>
  <%if $isadmin%>
    <th></th>
    <th></th>
  <%end%>


  <% @departments.each do |d|%>
    <tr>
      <td><%=d.id %></td>
      <td><%=d.name %></td>
      <td><%=%></td>
      <td><%=d.hod_id %></td>
      <td><%= link_to 'Show', d%></td>

      <%if $isadmin%>
        <td><%=link_to 'Edit' ,edit_department_path(d)%></td>
        <td><%=link_to 'Destroy', department_path(d.id) ,data: {confirm: "Are you sure you want to delete #{d.class} #{d.name}?"}, method: 'delete'%></td>
      <%end%>

    </tr>
  <%end%>
  <%= will_paginate @departments%>
</table>