
    <%= render "/header" -%>

    <% id=request.path[10..-1].to_i%>
      <%section= Section.find(id)%>
        <%if section!=nil%>

          <h1><%=section.name%></h1>
          <h4>ID:
            <%=section.id%></h4>
          <h4>CO-ORDINATOR:
            <%=section.co_ordinator.name%></h4>
          <h4>CO-ORDINATOR ID:
            <%=section.co_ordinator_id%></h4>
          <h4>SUBJECTS:
            <%section.subjects.each do |se|%>
              <a href="/subjects/<%=se.id%>"><%=se.name%></a>
              <%=" "%>
            <%end%>
          </h4>
        <%end%>

        <%= render "/footer"%>