    <pre>      </pre>
    <p class="navbar-text pull-right">
    <a href="/">home</a>
    <a href="/about">about</a>
    <a href="/departments">departments</a>
    <a href="/sections">sections</a>
    <a href="/teachers">teachers</a>
    <a href="/students">students</a>
    <a href="/subjects">subjects</a>
    <a href="/exams">examinations</a>
    <a href="/contact">contact us</a>
    <a href="">conta</a><br/>    
<% if user_signed_in? %>
  Logged in as User: <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit User profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "User Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "User Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "User Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
    <h1>Header Partial</h1>