<h2>User Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :onsubmit => "return validate_new_user_form(this);" }, multipart: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    <p id="name_status">
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
    <p id="email_status">
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <p id="password_status">

  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <p id="password_confirmation_status">

  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.number_field :phone, autocomplete: "phone" %>
    <p id="phone_status">

  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_field :date_of_birth %>
    <p id="date_of_birth_status">

  </div>

  <div class="field">
    <%= f.label :accepted_tos %><br />
    <%= f.check_box :accepted_tos %>
    <p id="accepted_tos_status">
  </div>

  <div class="field">
  <%= f.label :profile_picture %><br />
  <%= f.file_field :profile_picture, onchange: "uploadFile();" %>
  <p id="profile_picture_status">
</div>

<p id="status"></p>
<progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
<img id="user_profile_pic_preview" src="#" alt="Your uploaded profile picture" /><br/><br/>

  <div class="actions">
    <%= f.submit "Sign up", data: { disable_with: false } %>
  </div>
<% end %>
<<<<<<< HEAD

<%= link_to "Sign up with Google", user_google_oauth2_omniauth_authorize_path %><br/>
=======
<br/>
<%= link_to "Sign up with Google", user_google_oauth2_omniauth_authorize_path %><br/>
<%= link_to "Sign up with Facebook", user_facebook_omniauth_authorize_path %><br/>
<%= link_to "Sign up with Twitter", user_twitter_omniauth_authorize_path %><br/><br/>
>>>>>>> d0990895de14d1c1c0d7c57938a2ccdf66737d04

<%= render "users/shared/links" %>
